<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="container">
    <div class="footer">
        <div class="footer-links text-center">
            <a target="_blank" href="https://www.linkedin.com/in/ozan-eli%C3%A7atal-4b2157201/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a target="_blank" href=""><i class="fa-brands fa-twitter"></i></a>
            <a target="_blank" href="https://github.com/OzanElicatal"><i class="fa-brands fa-github"></i></a>
        </div>
        <br>
    </div>
    <div class="text-center">
        <p>TechCareer Bootcamp</p>
        <hr>
        <p>Copyright © 2022 Ozan Eliçatal. All rights reserved.</p>
    </div>
</div>
