<div class="container">
  <div class="row mt-3">

    <div class="col-md-4 offset-md-4 mt-2">
      <input style="border: 1px solid black;" class="form-control" type="search" placeholder="Search.."
        aria-label="Search" [(ngModel)]="filterText">
    </div>
    <div class="col-md-4 mt-1 text-center ">
      <button type="button" class="btn col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal" >
        <i class="fa fa-plus" style="font-size:35px;"></i>
       </button>    
      </div>
  </div>
</div>

<div class="container">
  <div class="row my-3 justify-content-center">
    <div class="card py-4 mb-5"  *ngFor="let item of contact | filter:filterText"
      style="max-width: 23rem; margin-right: 15px;">
      <div class="bg-image text-center">
        <img
          src="https://img-s1.onedio.com/id-624b4621974613251116f50d/rev-0/w-620/f-jpg/s-8840a47ea9f82b96f0e89646679a260a799f89f5.jpg"
          class="img-fluid w-75 rounded-circle" style="min-height: 15; max-height: 15rem;" />
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold col-md-12 text-center"><a>{{item.name}}</a></h5>
        <div class="row">
          <div class="col-md-12">
            <p> Message: <i style="color: #ffc107;"> {{item.message}}</i>
          </div>
          <div class="col-md-12">
            <p> Phone: {{item.phone}} 
          </div>
          <p class="col-md-12">{{item.email}}</p>
          <div class="row">
            <div class="col-md-3 ms-3 mt-2"><a href="Phone:{{item.phone}}">
                <div *ngIf="item.phone.length == 10" class="phone"><i style="font-size: 25px; color: black;"
                    class="fa-solid fa-phone"></i></div>
              </a></div>
            <div class="col-md-3 offset-md-3"></div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Name: </span>
              <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="addNameInput">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Email: </span>
              <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="addEmailInput">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Phone: </span>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addPhoneInput">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Message: </span>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addMessageInput">
            </div>
            
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a  class="btn btn-primary"  (click)="addContact()">Add</a>
          
        
      </div>
    </div>
  </div>
  </div>
</div>
