<div class="container">
  <div class="row mt-3">
    <button type="button" class="btn col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal2" >
      <i class="fa fa-plus" style="font-size:35px;"></i>
     </button>

    <div class="col-md-4 mt-2">
      <input style="border: 1px solid black;" class="form-control" type="search" placeholder="Search.."
        aria-label="Search" id="employeeName" [(ngModel)]="filterText">
    </div>

    <div class="col-md-4  mt-2">
      <button type="button"class="btn" (click)="saveOptions()">Save the search</button>
      <button type="button" class="btn" (click)="clearOptions()">Clear the search</button>
    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4 text-center ">
      <div class="btn-group d-flex">

        <button type="button" class="btn" (click)="viewFirstChange()" [disabled]="viewFirst">
          <i class="fa-solid fa-table-cells"></i>
        </button>

        <button type="button" class="btn" (click)="viewSecondChange()" [disabled]="viewSecond">
          <i class="fa-solid fa-align-justify"></i>
        </button>

        <button type="button" class="btn" (click)="viewThirdChange()"  [disabled]="viewThird">
          <i class="fa-solid fa-align-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 text-center ">
    </div>
</div>

<!-- View1 -->
<div class="container" *ngIf="viewFirst == true">
  <div class="row my-5 justify-content-center">
    <div class="card mt-4" *ngFor="let item of employees | filter:filterText"
      style="max-width: 23rem; margin-right: 15px;">
      <div class="bg-image">
        <div class="row">
          <div class="col-8"><img src="http://localhost:3030/api/employees/images/{{item.id}}.jpg"
              class="img-fluid w-100 rounded" style="min-height: 15; max-height: 15rem;" /></div>
          <div class="col-4">
            <div *ngIf="item.title=== 'Sales Representative'" class="badge bg-warning text-wrap col-6"
              style="width: 7rem;;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Vice President, Sales'" class="badge bg-danger text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Sales Manager'" class="badge bg-info text-center col-6" style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Inside Sales Coordinator'" class="badge  bg-primary text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Software Developer'" class="badge bg-success text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold"><a>{{item.firstName}} {{item.lastName}}</a></h5>
        <div class="row">
          <p class="mb-2 ">Country: {{item.city}} / {{item.country}}</p>
          <p class="">Birthdate: {{item.birthDate}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row text-center pb-3">
          <div class="col-4"><button title="Delete" class="btn btn-lg" (click)= "deletecategory(item)" ><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="col-4">
            <button class="btn btn-lg"><i
                class="fa-solid fa-circle-info" (click)="showDetails(item)"></i></button>
          </div>
          <div class="col-4">
            <button title="Update" class="btn btn-lg" (click)="showUpdate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" id="updateButton">
              <i class="fa-solid fa-trash-can-arrow-up"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- modal add -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name: </span>
            <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="addemployeeFirstNameInput">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Lastname: </span>
            <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="addemployeeLastNameInput">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Title: </span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addemployeeTitleInput">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Country: </span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addemployeeCountryInput">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">City: </span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addemployeeCityInput">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Birth Date: </span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addemployeeBirthDateInput">
          </div>
        
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Image Url: </span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addImageInput">
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a  class="btn btn-primary" (click)="addEmployee()" href="/employees">Add</a>
        
      
    </div>
  </div>
</div>
</div>
</div>
<!-- Upgrade model -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name: </span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="employeeFirstnameInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Lastname: </span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="employeeLastnameInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Title: </span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="employeeTitleInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Country: </span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="employeeCountryInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">City: </span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="employeeCityInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Birth Date: </span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="employeeBirthDateInput">
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="" class="btn btn-primary" (click)="update()" href="/employees">Save changes</a>
        
      </div>
    </div>
  </div>
</div>



<!-- View2 -->
<div class="container" *ngIf="viewSecond == true">
  <div class="row my-5 justify-content-center">
    <div class="card mt-4 col-12" *ngFor="let item of employees | filter:filterText"
      style="max-width: 133rem; margin-right: 15px;">
      <div class="bg-image">
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="col-8"><img src="http://localhost:3030/api/employees/images/{{item.id}}.jpg"
              class="img-fluid w-100 rounded" style="min-width: 15rem;max-width: 15rem; min-height: 15rem; max-height: 15rem;" /></div>
            <div *ngIf="item.title=== 'Sales Representative'" class="badge bg-warning text-wrap col-6"
              style="width: 7rem;;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Vice President, Sales'" class="badge bg-danger text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Sales Manager'" class="badge bg-info text-center col-6" style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Inside Sales Coordinator'" class="badge  bg-primary text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Software Developer'" class="badge bg-success text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold"><a>{{item.firstName}} {{item.lastName}}</a></h5>
        <div class="row">
          <p class="mb-2 ">Country: {{item.city}} / {{item.country}}</p>
          <p class="">Birthdate: {{item.birthDate}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row text-center pb-3">
          <div class="col-4"><button title="Delete" class="btn btn-lg" (click)= "deletecategory(item)" ><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="col-4">
            <button class="btn btn-lg"><i
                class="fa-solid fa-circle-info" (click)="showDetails(item)"></i></button>
          </div>
          <div class="col-4">
            <button title="Update" class="btn btn-lg" (click)="showUpdate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" id="updateButton">
              <i class="fa-solid fa-trash-can-arrow-up"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- View3 -->
<div class="container" *ngIf="viewThird == true">
  <div class="row my-5 justify-content-center">
    <div class="card mt-4 col-12" *ngFor="let item of employees | filter:filterText"
      style="max-width: 133rem; margin-right: 15px;">
      <div class="bg-image">
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="col-8"><img src="http://localhost:3030/api/employees/images/{{item.id}}.jpg"
              class="img-fluid w-100 rounded" style="min-width: 15rem;max-width: 15rem; min-height: 15rem; max-height: 15rem;" /></div>
            <div *ngIf="item.title=== 'Sales Representative'" class="badge bg-warning text-wrap col-6"
              style="width: 7rem;;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Vice President, Sales'" class="badge bg-danger text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Sales Manager'" class="badge bg-info text-center col-6" style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Inside Sales Coordinator'" class="badge  bg-primary text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Software Developer'" class="badge bg-success text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold"><a>{{item.firstName}} {{item.lastName}}</a></h5>
        <div class="row">
          <p class="mb-2 ">Country: {{item.city}} / {{item.country}}</p>
          <p class="">Birthdate: {{item.birthDate}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row text-center pb-3">
          <div class="col-4"><button title="Delete" class="btn btn-lg" (click)= "deletecategory(item)" ><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="col-4">
            <button class="btn btn-lg"><i
                class="fa-solid fa-circle-info" (click)="showDetails(item)"></i></button>
          </div>
          <div class="col-4">
            <button title="Update" class="btn btn-lg" (click)="showUpdate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" id="updateButton">
              <i class="fa-solid fa-trash-can-arrow-up"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  