<div class="container">
  <div class="row mt-3">

    <div class="col-md-4 offset-md-4 mt-2">
      <input style="border: 1px solid black;" class="form-control" type="search" placeholder="Search.."
        aria-label="Search" [(ngModel)]="filterText">
    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4 text-center ">
      <div class="btn-group d-flex">

        <button type="button" class="btn" (click)="viewFirstChange()" [disabled]="viewFirst">
          <i class="fa-solid fa-table-cells"></i>
        </button>

        <button type="button" class="btn" (click)="viewSecondChange()" [disabled]="viewSecond">
          <i class="fa-solid fa-align-justify"></i>
        </button>

        <button type="button" class="btn" (click)="viewThirdChange()"  [disabled]="viewThird">
          <i class="fa-solid fa-align-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 text-center ">
    </div>
</div>

<!-- View1 -->
<div class="container" *ngIf="viewFirst == true">
  <div class="row my-5 justify-content-center">
    <div class="card mt-4" *ngFor="let item of employees | filter:filterText"
      style="max-width: 23rem; margin-right: 15px;">
      <div class="bg-image">
        <div class="row">
          <div class="col-8"><img src="http://localhost:3030/api/employees/images/{{item.id}}.jpg"
              class="img-fluid w-100 rounded" style="min-height: 15; max-height: 15rem;" /></div>
          <div class="col-4">
            <div *ngIf="item.title=== 'Sales Representative'" class="badge bg-warning text-wrap col-6"
              style="width: 7rem;;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Vice President, Sales'" class="badge bg-danger text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Sales Manager'" class="badge bg-info text-center col-6" style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Inside Sales Coordinator'" class="badge  bg-primary text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Software Developer'" class="badge bg-success text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold"><a>{{item.firstName}} {{item.lastName}}</a></h5>
        <div class="row">
          <p class="mb-2 ">Country: {{item.city}} / {{item.country}}</p>
          <p class="">Birthdate: {{item.birthDate}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row text-center pb-3">
          <div class="col-4"><button title="Delete" class="btn btn-lg"><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="col-4">
            <button routerLink="/product/detail/{{item.id}}" title="Detail" class="btn btn-lg"><i
                class="fa-solid fa-circle-info"></i></button>
          </div>
          <div class="col-4">
            <button title="Update" class="btn btn-lg"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- View2 -->
<div class="container" *ngIf="viewSecond == true">
  <div class="row my-5 justify-content-center">
    <div class="card mt-4 col-12" *ngFor="let item of employees | filter:filterText"
      style="max-width: 133rem; margin-right: 15px;">
      <div class="bg-image">
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="col-8"><img src="http://localhost:3030/api/employees/images/{{item.id}}.jpg"
              class="img-fluid w-100 rounded" style="min-width: 15rem;max-width: 15rem; min-height: 15rem; max-height: 15rem;" /></div>
            <div *ngIf="item.title=== 'Sales Representative'" class="badge bg-warning text-wrap col-6"
              style="width: 7rem;;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Vice President, Sales'" class="badge bg-danger text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Sales Manager'" class="badge bg-info text-center col-6" style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Inside Sales Coordinator'" class="badge  bg-primary text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Software Developer'" class="badge bg-success text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold"><a>{{item.firstName}} {{item.lastName}}</a></h5>
        <div class="row">
          <p class="mb-2 ">Country: {{item.city}} / {{item.country}}</p>
          <p class="">Birthdate: {{item.birthDate}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row text-center pb-3">
          <div class="col-4"><button title="Delete" class="btn btn-lg"><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="col-4">
            <button routerLink="/product/detail/{{item.id}}" title="Detail" class="btn btn-lg"><i
                class="fa-solid fa-circle-info"></i></button>
          </div>
          <div class="col-4">
            <button title="Update" class="btn btn-lg"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- View3 -->
<div class="container" *ngIf="viewThird == true">
  <div class="row my-5 justify-content-center">
    <div class="card mt-4 col-12" *ngFor="let item of employees | filter:filterText"
      style="max-width: 133rem; margin-right: 15px;">
      <div class="bg-image">
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="col-8"><img src="http://localhost:3030/api/employees/images/{{item.id}}.jpg"
              class="img-fluid w-100 rounded" style="min-width: 15rem;max-width: 15rem; min-height: 15rem; max-height: 15rem;" /></div>
            <div *ngIf="item.title=== 'Sales Representative'" class="badge bg-warning text-wrap col-6"
              style="width: 7rem;;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Vice President, Sales'" class="badge bg-danger text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Sales Manager'" class="badge bg-info text-center col-6" style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Inside Sales Coordinator'" class="badge  bg-primary text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
            <div *ngIf="item.title=== 'Software Developer'" class="badge bg-success text-wrap col-6"
              style="width: 7rem;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold"><a>{{item.firstName}} {{item.lastName}}</a></h5>
        <div class="row">
          <p class="mb-2 ">Country: {{item.city}} / {{item.country}}</p>
          <p class="">Birthdate: {{item.birthDate}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row text-center pb-3">
          <div class="col-4"><button title="Delete" class="btn btn-lg"><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="col-4">
            <button routerLink="/product/detail/{{item.id}}" title="Detail" class="btn btn-lg"><i
                class="fa-solid fa-circle-info"></i></button>
          </div>
          <div class="col-4">
            <button title="Update" class="btn btn-lg"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  