<div class="container">
  <div class="row mt-3">

    <div class="col-md-4 offset-md-4 mt-2">
      <input style="border: 1px solid black;" class="form-control" type="search" placeholder="Search.."
        aria-label="Search" [(ngModel)]="filterText">
    </div>

    <button type="button" class="btn col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal2" >
      <i class="fa fa-plus" style="font-size:35px;"></i>
     </button>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4 text-center ">
      <div class="btn-group d-flex">

        <button type="button" class="btn" (click)="viewFirstChange()" [disabled]="viewFirst">
          <i class="fa-solid fa-table-cells"></i>
        </button>

        <button type="button" class="btn" (click)="viewSecondChange()" [disabled]="viewSecond">
          <i class="fa-solid fa-align-justify"></i>
        </button>

        <button type="button" class="btn" (click)="viewThirdChange()" [disabled]="viewThird">
          <i class="fa-solid fa-align-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 text-center ">
    </div>
  </div>
</div>


<!-- Delete Modal -->
<!-- <div class="modal" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-center">
          <div class="modal-header">
              <h4 class="modal-title text-white">Are you sure about deleting the product?</h4>
          </div>
          <div>
              <button class="btn btn-danger w-100 mb-3" data-bs-dismiss="modal">Delete</button>
              <button class="btn btn-success w-100 mb-3" data-bs-dismiss="modal">Cancel</button>
          </div>
      </div>
  </div>
</div> -->

<!-- Upgrade Modal -->
<!-- <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="ModalLabel">Details</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>p</h6>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div> -->

<!--viewFirst-->
<div class="container " *ngIf="viewFirst == true">
  <div class="row my-3 justify-content-center">
    <div class="card mt-4 me-2" *ngFor="let item of products | filter:filterText"
      style="max-width: 23rem; max-height: 25rem; margin-right: 5px;">
      <div class="bg-image">
        <img src="http://localhost:3030/api/products/images/{{item.id}}.jpg" class="img-fluid w-100 rounded"
          style="min-height: 15rem; max-height: 15rem;" />
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold text-center"><a>{{item.name}}</a></h5>
        <div class="row mt-2">
          <p class="mb-2 col-7" style="color: #B12704;">Price: {{item.price}} $</p>
          <p class="col-5 ">Stock: {{item.stock}}</p>
        </div>

        <div class="container">
          <div class="row mb-4">
            <div class="col-4">
              <button type="button" class="btn btn-lg" (click)="delete(item)" data-toggle="modal"
                data-toggle="modal" data-target="#deleteModal"><i class="fa-solid fa-trash"></i></button></div>

            <div class="col-4">
              <button class="btn btn-lg"><i class="fa-solid fa-circle-info"></i></button>
            </div>
            <div class="col-4">
              <a  class="btn btn-lg" (click)="showUpdate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" id="updateButton">
                <i class="fa-solid fa-trash-can-arrow-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal add -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name: </span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="addNameInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price: </span>
          <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addPriceInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Stock: </span>
          <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addStockInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">İmage Url: </span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="addImageInput">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="" class="btn btn-primary" (click)="addProduct()" href="/products">Add</a>

      </div>
    </div>
  </div>
</div>

<!-- upgrade -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upgrade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name: </span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" id="productNameInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price: </span>
          <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="productPriceInput">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Stock: </span>
          <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="productStockInput">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="" class="btn btn-primary" (click)="update()" href="/products">Save changes</a>

      </div>
    </div>
  </div>
</div>

<!--viewSecond-->
<div class="container mt-4" *ngIf="viewSecond == true">
  <div class="row">
    <div class="col-12 mt-4" *ngFor="let item of products">
      <div class="card bg-light mb-3">
        <div class="row">
          <div class="col-3">
            <img src="http://localhost:3030/api/products/images/{{item.id}}.jpg" class="img-fluid w-100 rounded"
              style="height:180px; " />
          </div>
          <div class="col-5 m-auto">
            <div class="table-responsive d-block">
              <table class=" table table-borderless text-center">
                <tbody>
                  <tr>
                    <td>
                      <h5 class="card-title">
                        <p class="text-center">{{item.name}}</p>
                      </h5>
                    </td>
                    <td>
                      <h5 class="card-title">
                        <p class="text-center" style="color: #B12704;">Price: {{item.price}}</p>
                      </h5>
                    </td>
                    <td>
                      <h5 class="card-title">
                        <p class="text-center">Stock: {{item.stock}}<p>
                      </h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-3 offset-3">
              <button type="button" class="btn btn-lg" (click)="delete(item)" data-toggle="modal"
                data-toggle="modal" data-target="#deleteModal"><i class="fa-solid fa-trash"></i></button></div>

            <div class="col-3">
              <button class="btn btn-lg"><i class="fa-solid fa-circle-info"></i></button>
            </div>
            <div class="col-3">
              <button class="btn btn-lg" (click)="showUpdate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" id="updateButton"><i class="fa-solid fa-trash-can-arrow-up"></i>
              </button></div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>

<!-- view Third -->

<div class="container " *ngIf="viewThird == true">
  <div class="row my-4 justify-content-center">
    <div class="card mt-4" *ngFor="let item of products | filter:filterText"
      style="min-width: 28rem; max-width: 28rem; max-height: 28rem; margin-left: 1em;">
      <div class="bg-image justify-content-start">
        <img src="http://localhost:3030/api/products/images/{{item.id}}.jpg" class="img-fluid w-100 rounded"
          style="min-height: 15rem; max-height: 15rem;" />
      </div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold text-center"><a>{{item.name}}</a></h5>
        <div class="row mt-2">
          <p class="mb-2 col-7" style="color: #B12704;">Price: {{item.price}} $</p>
          <p class="col-5 ">Stock: {{item.stock}}</p>
        </div>

        <div class="container">
          <div class="row mb-4">
            <div class="col-4">
              <button type="button" class="btn btn-lg" (click)="delete(item)" data-toggle="modal"
                data-toggle="modal" data-target="#deleteModal"><i class="fa-solid fa-trash"></i></button></div>

            <div class="col-4">
              <button class="btn btn-lg"><i class="fa-solid fa-circle-info"></i></button>
            </div>
            <div class="col-4">
              <button class="btn btn-lg" (click)="showUpdate(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" id="updateButton"><i class="fa-solid fa-trash-can-arrow-up"></i>
              </button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
